/*
 * Copyright (c) 2019, NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "pduv2-pinctrl.dtsi"

/ {
	aliases{
		led0 = &red_led;
		spi-8 = &hs_lspi;
		spi-4 = &flexcomm4;
		usart-0 = &flexcomm0;
		usart-3 = &flexcomm3;
		ssr1 = &enable_1;
		ssr2 = &enable_2;
		ssr3 = &enable_3;
		ssr4 = &enable_4;
		ssr5 = &enable_5;
		ssr6 = &enable_6;
		ssr7 = &enable_7;
		ssr8 = &enable_8;
		rpd1 = &reset_peak_detector_1;
		rpd2 = &reset_peak_detector_2;
		rpd3 = &reset_peak_detector_3;
		rpd4 = &reset_peak_detector_4;
		rpd5 = &reset_peak_detector_5;
		/*
		rpd6 = &reset_peak_detector_6;
		rpd7 = &reset_peak_detector_7;
		*/
		rpd8 = &reset_peak_detector_8;
		devon = &device_on;
		devoff = &device_off;
		devn0 = &device_number_0;
		devn1 = &device_number_1;
		devn2 = &device_number_2;
		data0 = &data_0;
		data1 = &data_1;
		data2 = &data_2;
		data3 = &data_3;
		data4 = &data_4;
		data5 = &data_5;
		data6 = &data_6;
		data7 = &data_7;
		ackmpu = &ack_mpu;
		ackmcu = &ack_mcu;
	};

	leds {
		compatible = "gpio-leds";
		red_led: led_1 {
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
			label = "User LD4";
			status = "disabled";
		};
	};

	ssrs {
		compatible = "gpio-leds";
		enable_1: ssr_1 {
			gpios = <&gpio1 28 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_2: ssr_2 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_3: ssr_3 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_4: ssr_4 {
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_5: ssr_5 {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_6: ssr_6 {
			gpios = <&gpio1 30 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_7: ssr_7 {
			gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		enable_8: ssr_8 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};

	rpds {
		compatible = "gpio-leds";
		reset_peak_detector_1: rpd_1{
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		reset_peak_detector_2: rpd_2{
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		reset_peak_detector_3: rpd_3{
			gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		reset_peak_detector_4: rpd_4{
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		reset_peak_detector_5: rpd_5{
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		/*
		reset_peak_detector_6: rpd_6{
			gpios = <&gpio GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		reset_peak_detector_7: rpd_7{
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		*/
		reset_peak_detector_8: rpd_8{
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};

	data_output{
		compatible = "gpio-leds";
		data_0: d_0{
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_1: d_1{
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_2: d_2{
			gpios = <&gpio1 16 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_3: d_3{
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_4: d_4{
			gpios = <&gpio1 27 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_5: d_5{
			gpios = <&gpio1 29 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_6: d_6{
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		data_7: d_7{
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		ack_mcu: ack_mcu{
			gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* RAM split used by TFM */
		secure_ram: partition@20000000 {
			label = "secure-memory";
			reg = <0x20000000 DT_SIZE_K(136)>;
		};

		non_secure_ram: partition@20022000 {
			label = "non-secure-memory";
			reg = <0x20022000 DT_SIZE_K(136)>;
		};
	};
};

&flexcomm0 {
	compatible = "nxp,lpc-usart";
	current-speed = <115200>;
	dmas = <&dma0 6>, <&dma0 7>;
	dma-names = "rx", "tx";
};

&flexcomm3 {
	compatible = "nxp,lpc-usart";
	current-speed = <115200>;
	dmas = <&dma0 8>, <&dma0 9>;
	dma-names = "rx", "tx";
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(32)>;
			read-only;
		};
		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 DT_SIZE_K(160)>;
		};
		slot0_ns_partition: partition@30000 {
			label = "image-0-nonsecure";
			reg = <0x00030000 DT_SIZE_K(96)>;
		};
		slot1_partition: partition@48000 {
			label = "image-1";
			reg = <0x00048000 DT_SIZE_K(160)>;
		};
		slot1_ns_partition: partition@70000 {
			label = "image-1-nonsecure";
			reg = <0x00070000 DT_SIZE_K(96)>;
		};
		/*
		 * The flash starting at 0x88000 and ending at
		 * 0x949FF is reserved for the application.
		 */
		storage_partition: partition@88000 {
			label = "storage";
			reg = <0x00088000 DT_SIZE_K(50)>;
		};
	};
};

&flexcomm0 {
	pinctrl-0 = <&pinmux_flexcomm0_usart>;
	pinctrl-names = "default";
};

&flexcomm3 {
	pinctrl-0 = <&pinmux_flexcomm3_usart>;
	pinctrl-names = "default";
};

&flexcomm4{
	pinctrl-0 = <&pinmux_flexcomm4_spi>;
	pinctrl-names = "default";
};

&hs_lspi {
	pinctrl-0 = <&pinmux_hs_lspi_default>;
	pinctrl-names = "default";
};

&sc_timer {
	pinctrl-0 = <&pinmux_sctimer_default>;
	pinctrl-names = "default";
};
